@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,400&display=swap");
* {
  box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f6f6f6; }

header {
  background-color: #1e5d69;
  height: 85px;
  text-transform: uppercase;
  font-size: 8px;
  display: flex;
  align-items: center;
  padding: 0 7px; }
  header .header-logo {
    display: flex; }
    header .header-logo p {
      padding-left: 5px; }
  header nav {
    margin-right: 8px; }
    header nav ul {
      display: flex;
      align-items: center; }
      header nav ul li {
        padding-left: 10px; }
      header nav ul a {
        color: #fff; }
  header .search {
    display: flex;
    justify-content: space-between; }

.list-reset, header nav ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  .list-reset a, header nav ul a {
    text-decoration: none; }

.top-section {
  padding: 0 15px; }
  .top-section h1 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
    color: #1e5d69; }
  .top-section h3 {
    text-align: center;
    padding: 10px 0; }
  .top-section p {
    text-align: justify;
    font-size: 12px; }
  .top-section img {
    width: 100%; }

.adventure {
  padding: 0 15px;
  margin-bottom: 30px; }
  .adventure .adventure-img {
    background-image: url("../../images/blue-background.png");
    background-repeat: no-repeat;
    background-size: auto;
    display: block; }
    .adventure .adventure-img h2 {
      text-transform: uppercase;
      color: #ccc;
      text-align: center; }
  .adventure h4 {
    text-align: center;
    text-transform: uppercase; }
  .adventure .product {
    margin: 0;
    padding: 10px 8px; }
    .adventure .product p {
      font-size: 12px; }

.popular {
  padding: 0 15px; }
  .popular h2,
  .popular h3 {
    text-align: center;
    text-transform: uppercase; }
  .popular img {
    width: 100%; }
  .popular p {
    text-align: center; }
  .popular .button {
    text-align: center; }
  .popular .tours p {
    border-bottom: 2px solid #e1e1e1;
    padding: 5px 0 5px;
    margin: 0 4px 0 4px;
    font-size: 12px; }
  .popular .tours-article {
    background-color: #656565;
    color: #fff; }
    .popular .tours-article h3 {
      color: #fff; }
  .popular article {
    padding-bottom: 20px;
    margin-bottom: 20px; }
  .popular button {
    margin-top: 10px;
    text-align: center;
    padding: 8px 8px;
    text-transform: uppercase;
    font-size: 12pxx;
    border: 1px solid;
    border-radius: 30px;
    color: #fff;
    background-image: linear-gradient(to right, #1e5e6a, #1d626f, #1b6675, #196b7a, #166f80, #147385, #11778a, #0e7b8f, #0c8095, #09849c, #0689a2, #038ea9); }

footer {
  background-color: #2d4e54;
  margin-top: 10px;
  padding-top: 10px;
  text-align: center;
  padding-bottom: 20px; }
  footer .footer-titles {
    color: #fff; }

.sco-net {
  background-color: #0093af;
  color: #fff;
  border-radius: 20px; }

.footer-bottom {
  background-color: #1b373c;
  color: #fff;
  padding-bottom: 20px; }
  .footer-bottom h4 {
    text-transform: uppercase;
    text-align: center; }
  .footer-bottom p {
    text-align: center; }

/*# sourceMappingURL=main.css.map */
