@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,400&display=swap");
* {
  box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
  color: #666; }

header {
  background-color: #1e5d69;
  height: 85px;
  text-transform: uppercase;
  font-size: 8px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 7px;
  color: #fff; }
  header .header-logo {
    display: flex; }
    header .header-logo p {
      padding-left: 5px; }
  header nav {
    margin-right: 8px; }
    header nav ul {
      display: flex;
      align-items: center;
      justify-content: space-around; }
      header nav ul li {
        padding-left: 10px; }
      header nav ul a {
        color: #fff; }
  header .search {
    display: flex;
    justify-content: space-between; }

.list-reset, header nav ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  .list-reset a, header nav ul a {
    text-decoration: none; }

.top-section {
  padding: 0 15px; }
  .top-section h1 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
    color: #1e5d69; }
  .top-section h3 {
    text-align: center;
    padding: 10px 0;
    color: #1e5d69; }
  .top-section p {
    font-size: 12px; }
  .top-section img {
    width: 100%; }

.adventure {
  padding: 0 15px;
  margin-bottom: 30px; }
  .adventure .adventure-img {
    background-image: url("../../images/blue-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: block; }
    .adventure .adventure-img h2 {
      text-transform: uppercase;
      color: #ccc;
      text-align: center; }
  .adventure h4 {
    text-align: center;
    text-transform: uppercase;
    color: #2d4e54; }
  .adventure .product {
    margin: 0;
    padding: 5px 8px; }
    .adventure .product p {
      font-size: 12px;
      background-color: #fff;
      padding: 5px;
      text-align: center; }
  .adventure .product-img-center {
    display: block;
    margin: 0 auto;
    padding-top: 8px; }

.popular {
  padding: 0 15px; }
  .popular h2,
  .popular h3 {
    text-align: center;
    text-transform: uppercase; }
  .popular img {
    width: 100%; }
  .popular p {
    text-align: center; }
  .popular .button {
    text-align: center; }
  .popular .tours p {
    border-bottom: 1px solid #e1e1e1;
    padding: 5px 0 5px;
    margin: 0 4px 0 4px;
    font-size: 12px; }
  .popular .tours-article {
    background-color: #656565;
    color: #fff; }
    .popular .tours-article h3 {
      color: #fff; }
  .popular article {
    padding-bottom: 20px;
    margin-bottom: 20px; }
  .popular button {
    margin-top: 10px;
    text-align: center;
    padding: 8px 8px;
    text-transform: uppercase;
    font-size: 12pxx;
    border: 1px solid;
    border-radius: 30px;
    color: #fff;
    background-image: linear-gradient(to right, #1e5e6a, #1d626f, #1b6675, #196b7a, #166f80, #147385, #11778a, #0e7b8f, #0c8095, #09849c, #0689a2, #038ea9); }

footer {
  padding: 15px 15px;
  background-color: #2d4e54;
  margin-top: 15px;
  text-align: center; }
  footer .footer-titles {
    color: #fff; }

.soc-net img {
  background-color: #0093af;
  padding: 15px;
  border-radius: 50px;
  margin-right: 10px; }

.footer-bottom {
  padding: 5px 15px;
  background-color: #1b373c;
  color: #fff;
  display: flex;
  justify-content: space-between;
  font-size: 10px; }
  .footer-bottom h4 {
    text-transform: uppercase;
    text-align: center; }
  .footer-bottom p {
    text-align: center; }
  .footer-bottom .footer-img {
    display: flex;
    justify-content: space-around; }
    .footer-bottom .footer-img img {
      padding-right: 10px; }

@media all and (min-width: 768px) {
  header {
    padding: 0 15px;
    font-size: 12px;
    justify-content: space-around; }
    header .header-logo img {
      padding-right: 8px; }
    header li {
      padding-right: 15px; }
    header .search img {
      padding-right: 8px; }

  .top-section {
    padding: 20px 20px; }
    .top-section h1 {
      margin: 40px 0 40px; }
    .top-section main {
      display: flex;
      justify-content: space-around; }
      .top-section main h3 {
        padding-bottom: 20px; }
      .top-section main p {
        padding: 20px 20px 0 0;
        font-size: 12px; }
      .top-section main img {
        margin-top: 35px;
        width: 350px; }

  .adventure {
    margin: 0;
    padding: 0; }
    .adventure .adventure-img {
      background-position: center;
      background-size: cover;
      padding: 60px 0 100px; }
      .adventure .adventure-img article .product-img-center {
        padding: 15px 0; }
      .adventure .adventure-img h2 {
        color: #fff; }

  .popular {
    padding: 25px 0 25px; }

  .products {
    display: flex;
    justify-content: space-around;
    margin-top: 30px; }
    .products .product {
      background-color: #fff;
      margin: 20px;
      width: 350px; }

  .tours {
    padding: 0 20px; }
    .tours h3 {
      font-size: 16px; }
    .tours article {
      background-color: #fff; }

  footer .footer-titles {
    display: flex;
    justify-content: center; }
    footer .footer-titles h4 {
      margin-right: 20px; }

  .footer-bootom-left {
    display: flex;
    justify-content: space-between; }
    .footer-bootom-left .footer-img {
      padding-right: 20px; }
      .footer-bootom-left .footer-img img {
        padding-right: 20px; } }
@media all and (min-width: 1024px) {
  header {
    padding: 0 30px; }
    header .header-logo {
      font-size: 16px;
      margin-right: 100px; }
      header .header-logo img {
        padding-right: 15px; }
    header nav {
      font-size: 14px; }
      header nav li {
        padding-right: 20px; }
    header .search {
      margin-left: 100px; }
    header .search img {
      padding-right: 15px; }

  .top-section {
    padding: 20px 30px; }
    .top-section h1 {
      margin: 45px 0 80px; }
    .top-section main h3 {
      padding-bottom: 30px; }
    .top-section main p {
      padding-bottom: 70px;
      font-size: 13px; }
    .top-section main img {
      width: 600px; }

  .adventure h2 {
    font-size: 30px;
    padding-top: 80px; }
  .adventure .adventure-img {
    background-repeat: no-repeat;
    background-position: top;
    height: 776px; }
    .adventure .adventure-img .products {
      margin: 80px 35px 80px 35px; }
      .adventure .adventure-img .products .product {
        width: 33.333%; }
      .adventure .adventure-img .products p {
        font-size: 13px; }
      .adventure .adventure-img .products h4 {
        font-size: 16px;
        padding-bottom: 35px; }

  .popular {
    padding: 0 100px; }
    .popular h2 {
      padding-bottom: 80px; }
    .popular .tours {
      padding: 0 30px;
      margin-bottom: 50px; }

  .popular button {
    margin-bottom: 50px;
    font-size: 15px;
    padding: 20px 20px; }

  .footer-titles {
    padding: 40px 0 30px; }

  .soc-net {
    padding-bottom: 35px; } }
@media all and (min-width: 1400px) {
  .top-section {
    padding: 0 30px; }

  main .paragraf p {
    font-size: 16px; }
  main img {
    width: 800px; }

  .adventure .products .product {
    padding: 45px 30px 35px 20px;
    font-size: 16px; }
    .adventure .products .product p {
      font-size: 16px; }

  .popular .tours article p {
    font-size: 16px; } }

/*# sourceMappingURL=main.css.map */
