.adventure {
  padding: 0 15px;
  margin-bottom: 30px;

  .adventure-img {
    background-image: url("../../images/blue-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: block;

    h2 {
      text-transform: uppercase;
      color: #ccc;
      text-align: center;
    }
  }

  h4 {
    text-align: center;
    text-transform: uppercase;
    color: #2d4e54;
  }

  .product {
    margin: 0;
    padding: 5px 8px;

    p {
      font-size: 12px;
      background-color: #fff;
      padding: 5px;
      text-align: center;
    }
  }
  .product-img-center {
    display: block;
    margin: 0 auto;
    padding-top: 8px;
  }
}