footer {
  padding: 15px 15px;
  background-color: #2d4e54;
  margin-top: 15px;
  text-align: center;

  .footer-titles {
    color: $white;
  }
}

.soc-net {

  img {
    background-color: #0093af;
    padding: 15px;
    border-radius: 50px;
    margin-right: 10px;
  }

}

.footer-bottom {
  padding: 5px 15px;
  background-color: #1b373c;
  color: $white;
  display: flex;
  justify-content: space-between;
  font-size: 10px;

  h4 {
    text-transform: uppercase;
    text-align: center;
  }

  p {
    text-align: center;
  }

  .footer-img {
    display: flex;
    justify-content: space-around;

    img {
      padding-right: 10px;
    }

  }
}