@media all and (min-width: 768px) {
  header {
    padding: 0 15px;
    font-size: 12px;
    justify-content: space-around;

    .header-logo img {
      padding-right: 8px;
    }

    li {
      padding-right: 15px;
    }

    .search img {
      padding-right: 8px;
    }
  }

  .top-section {
    padding: 20px 20px;

    h1 {
      margin: 40px 0 40px;
    }

    main {
      display: flex;
      justify-content: space-around;

      h3 {
        padding-bottom: 20px;
      }

      p {
        padding: 20px 20px 0 0;
        font-size: 12px;
      }

      img {
        margin-top: 35px;
        width: 350px;
      }
    }

  }

  .adventure {
    margin: 0;
    padding: 0;

    .adventure-img {
      background-position: center;
      background-size: cover;
      padding: 60px 0 100px;

      article {
        .product-img-center {
          padding: 15px 0;
        }
      }

      h2 {
        color: $white;
      }
    }
  }

  .popular {
    padding: 25px 0 25px;
  }

  .products {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;

    .product {
      background-color: $white;
      margin: 20px;
      width: 350px;
    }
  }

  .tours {
    padding: 0 20px;

    h3 {
      font-size: 16px;
    }

    article {
      background-color: $white;

    }
  }

  footer {
    .footer-titles {
      display: flex;
      justify-content: center;

      h4 {
        margin-right: 20px;
      }
    }

    .soc-net article img {
      padding: 0 20px;
    }
  }

  .footer-bootom-left {
    display: flex;
    justify-content: space-between;

    .footer-img {
      padding-right: 20px;

      img {
        padding-right: 20px;
      }
    }
  }

}

@media all and (min-width: 1024px) {
  header {
    padding: 0 30px;

    .header-logo {
      font-size: 16px;
      margin-right: 100px;

      img {
        padding-right: 15px;
      }

    }

    nav {
      font-size: 14px;

      li {
        padding-right: 20px;
      }
    }

    .search {
      margin-left: 100px;
    }

    .search img {
      padding-right: 15px;
    }
  }

  .top-section {
    padding: 20px 30px;

    h1 {
      margin: 45px 0 80px;
    }

    main {
      h3 {
        padding-bottom: 30px;
      }

      p {
        padding-bottom: 70px;
        font-size: 13px;
      }

      img {
        width: 600px;
      }
    }
  }

  .adventure {
    h2 {
      font-size: 30px;
      padding-top: 80px;
    }

    .adventure-img {
      background-repeat: no-repeat;
      background-position: top;
      height: 776px;

      .products {
        margin: 80px 35px 80px 35px;

        .product {
          width: 33.333%;

        }

        p {
          font-size: 13px;
        }

        h4 {
          font-size: 16px;
          padding-bottom: 35px;
        }

      }

    }
  }

  .popular {
    padding: 0 100px;

    h2 {
      padding-bottom: 80px;
    }

    .tours {
      padding: 0 30px;
      margin-bottom: 50px;
    }

  }

  .popular button {
    margin-bottom: 50px;
    font-size: 15px;
    padding: 20px 20px;
  }

  .footer-titles {
    padding: 40px 0 30px;
  }

  .soc-net {
    padding-bottom: 35px;
  }
}

@media all and (min-width: 1400px) {
  .top-section {
    padding: 0 30px;
  }

  main {
    .paragraf p {
      font-size: 16px;
    }

    img {
      width: 800px;
    }
  }
}