.popular {
  h2,h3 {
    text-align: center;
    text-transform: uppercase;
  }
  img {
    width: 320px;
  }
  p {
    text-align: center;
  }
  .button {
    text-align: center;
}
.tours p {
  border-bottom: 2px solid #e1e1e1;
  padding: 5px 0 5px;
  margin: 0 4px 0 4px;
}
.tours-article {
    background-color: #656565;
    color: $white;
    h3 {
        color: $white;
    }
}
button {
  margin-top: 10px;
  text-align: center;
  padding: 8px 8px;
  text-transform: uppercase;
  font-size: 10px;
  border: 1px solid;
  border-radius: 30px;
  color: $white;
  background-image: linear-gradient(to right, #1e5e6a, #1d626f, #1b6675, #196b7a, #166f80, #147385, #11778a, #0e7b8f, #0c8095, #09849c, #0689a2, #038ea9);
}
}