.top-section {
  padding: 0 15px;
  h1 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
    color: #1e5d69;
  }
  h3{
    text-align: center;
    padding: 10px 0;
  }
  p {
    text-align: justify;
    font-size: 12px;
  }
  img {
   width: 100%;
  }
}