.top-section {
 
  h1 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
  }
  h3{
    text-align: center;
  }
  p {
    text-align: justify;
  }
  img {
   width: 320px;
  }
}